* {
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
}

body > header {
    background-color: rgba(86, 86, 86, 0.74);
    padding: 16px 0;
    color: white;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header li {
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
}

header li a {
    color: white;
    text-decoration: none;
    margin-left: 15px;
}

.articles article img {
    width: 100%;
    /*height: 250px;*/
}

.container {
    width: 1366px;
    margin: 0 auto;
}

.articles {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

.articles article {
    width: 30%;
}

section h2,
.articles article {
    margin-bottom: 16px;
}

section article h3 {
    margin-top: 8px;
    margin-bottom: 8px;
}

.articles article a {
    background-color: rgba(7, 73, 92, 0.577);
    color: rgb(242, 244, 245);
    padding: 8px;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    margin-top: 8px;
}

.articles article a:hover {
    text-decoration: underline;
}

.articles article p,
.articles article a{
    font-family: Arial, Helvetica, sans-serif;
}

.articles article h3 {
    font-size: 24px;
}

section h2 {
    font-size: 32px;
}

#sports {
    background-color: rgba(116, 248, 116, 0.1);
}

#sports .articles article a {
    background-color: rgba(0, 128, 0, 0.36);
}

#economy {
    background-color: rgba(244, 244, 136, 0.374);
}

#economy .articles article a {
    background-color: rgba(255, 166, 0, 0.621);
}


#tecnology {
    background-color: rgba(244, 136, 226, 0.374);
}

#tecnology .articles article a {
    background-color: rgba(212, 10, 185, 0.8);
}

#geek {
    background-color: rgba(136, 141, 244, 0.374);
}

#geek .articles article a {
    background-color: rgba(10, 20, 212, 0.8);
}
